.wave {
    position: absolute;
    width: 100%;
    height: 10vw;
}

.wave path {
    fill: var(--primary-color);
    width: 100%;
}

.wave-top {
    top: -1px;
}

.wave-bottom {
    bottom: -1px;
}

.section-header {
    font-size: 20vw;
    line-height: 1.0;
    font-weight: 700;
    color: var(--text-bold-color);
}

.section-subheader {
    font-size: 13vw;
    line-height: 0.95;
    color: var(--text-bold-color);
}

.section-subsubheader {
    font-size: 10vw;
    line-height: 1.0;
    color: var(--text-bold-color);
}

.section-light-header {
    color: var(--text-color) !important;
}

.section-description {
    font-size: 6vw;
    line-height: 1.0;
    max-width: 80%;
    color: var(--text-color);
    text-align: justify;
}

.section {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: var(--background-color);
}

.section-content {
    padding: 10vw 3vw 10vw 3vw;
    margin: auto;
}

.skills h1 {
    line-height: 0.95;
}

.skills-list li::before {
    content: '•';
    color: var(--text-bold-color);
    margin-right: 10px;
}

.skills-list li {
    font-size: 5vw;
}

.contact-link-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 10vh;
    margin-top: 5vh;
}

.contact-link img {
    height: 5vh;
    transition: transform 0.3s ease-in-out;
}

.contact-link img:hover {
    transform: scale(1.2);
}

.projects {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.projects h1 {
    height: 14vw;
}

.project-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    

}

.project-description {
    font-size: 3vw;
    line-height: 1.4;

    text-align: justify;

        margin: 20px 0 20px 0;
}

.project-photos {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    gap: 10px;
}

.project-photos img {
    width: 100%;
    height: 16vh;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
}

.project-photos img:hover {
    transform: scale(1.05);
}

.project-carousel {
    height: 65vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel {
    display: flex;
    overflow: hidden;
}

.carousel-view {
    flex-shrink: 0;
    width: 100%;
    transition: transform 0.3s ease-in-out;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}

.carousel-controls {
    display: flex;
    justify-content: space-between;
    height: 10vh;
}

.carousel-btn {
    font-size: 6vw;
    font-weight: 700;
    border: none;
    cursor: pointer;
}

.carousel-btn:hover {
    color: var(--text-bold-color);
}

.footer {
    text-align: center;
    padding: 20px;
    background-color: var(--primary-color);
}

@media (min-width: 1200px) {
    .section-header {
        font-size: 8vw;
    }

    .section-subheader {
        font-size: 5vw;
    }

    .section-subsubheader {
        font-size: 3vw;
    }

    .section-description,
    .project-description {
        font-size: 2.4vw;
        max-width: 60%;
    }

    .skills-list li {
        font-size: 1.5vw;
    }

    .carousel-wrapper {
        height: 500px;
    }

    .project-photos {
    }

    .carousel-btn {
        font-size: 2vw;
    }
}