:root {
    --primary-color: #011627;
    --secondary-color: #C42021;
    --text-color: #1f2224;
    --text-light-color: #c7cac0;
    --text-bold-color: #011627;
    --background-color: #CDD1C4;

    --red-color: #A5243D;
    --red-color-2: #C42021;
    --yellow-color: #FF9F1C;
    --black-color: #011627;
    --blue-color: #0B4F6C;
    --grey-color: #CDD1C4;
}   

* {
    margin: 0;
    padding: 0;
    color: var(--text-color);
    box-sizing: border-box;
    z-index: 1;
    overflow: hidden;
}

body {
    font-family: "Kanit", sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    font-size: var(--font-size-medium);
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}